@mixin html {
    font-size: 16px;
    font-family: $main-font-family;
    line-height: 1.6;
    font-weight: 400;
    @content;
}

@mixin border-box-stuff {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    @content;
}

@mixin font-stack($fam: Arial, $size: 1.414rem, $weight:600) {
    font: {
        family: $fam;
        size: $size;
        weight: $weight;
    }
}

@mixin navi() {
    font: {
        family: $main-font-family;
        size: $size;
        weight: $weight;

    }
}

@mixin paraSection1 {
    p {
        font-size: $size;
        padding: 1rem 2rem 0rem;
    }
}

@mixin hover {
    position: absolute;
    top: -0.5rem;
    left: 0;
    content: attr(data-country);
    display: block;
    padding: 0.2rem 1rem 0.2rem 2rem;
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    width: auto;
    word-break: keep-all;
    overflow-wrap: normal;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../img/en-icon.png);
    background-repeat: no-repeat;
    background-size: 1.5rem auto;
    background-position: left center;
}

@mixin li {
    font-size: $size;
    padding: 0.5rem 2rem;
}

@mixin paraSection2 {
    p {
        font-size: $size;
        padding: 1rem 2rem 0rem;
    }

    h4 {
        font-size: $size-h2;
        padding: 1rem 2rem 0rem;
    }

    ul {
        li {
            @include li;
        }
    }
}

@mixin footer-h4($sizeh4, $colorh4) {
    padding: 0.5rem 2rem;
    font-size: $sizeh4;
    color: $colorh4;
}

@mixin header($color-header, $widthheader) {
    color: $color-header;
    width: $widthheader;
}

@mixin header700 {
    width: 700px;
    margin: 0 auto;
    min-height: 8rem;
    @content;
}

@mixin headerh1ifalg($color1, $display, $float, $fontsize, $line-height) {
    color: $color1;
    display: $display;
    float: $float;
    font-size: $fontsize;
    line-height: $line-height;
    @content;
}

@mixin header-h1-900 ($float-header-h1, $font-size-header-h1, $text-align-header-h1) {
    float: $float-header-h1;
    font-size: $font-size-media;
    text-align: $text-align-header-h1;
}

@mixin header-h1-span {
    float: none;
    text-align: left;
}

@mixin headerspan($floatspan, $fontsizespan, $text-align, $widthspan) {
    float: $floatspan;
    font-size: $fontsizespan;
    text-align: $text-align;
    width: $widthspan;
}

@mixin headernav($flexdirection, $justifycontent, $align-items) {
    flex-direction: $flexdirection;
    justify-content: $justifycontent;
    align-items: $align-items;
    @content;
}

@mixin headernava($font-size-nav, $line-height-nav, $border-nav, $padding-nav, $background-color-nav) {
    font-size: $font-size-nav;
    line-height: $line-height-nav;
    border: $border-nav;
    padding: $padding-nav;
    background-color: $background-color-nav;
}

@mixin header-nav-last-child($flex-basis-last, $min-height-last, $border-left) {
    flex-basis: $flex-basis-last;
    min-height: $min-height-last;
    border-left: $border-left;
    @content;
}

@mixin header-nav-media($font-nav, $padding, $line-height-nav, $min-height-nav) {

    font-size: $font-nav;
    padding: $padding;
    line-height: $line-height-nav;
    min-height: $min-height-nav;
    @content;
}

@mixin header-media-control($width-media, $margin) {
    width: $width-media;
    margin: $margin;
}

@mixin content1-row($flex-direct, $flex-wrap, $justify, $align-items) {
    flex-direction: $flex-direct;
    flex-wrap: $flex-wrap;
    justify-content: $justify;
    align-items: $align-items;
    @content;
}

@mixin bg-content($background-color, $color-bg, $font-weight-bg) {
    background-color: $background-color;
    color: $color-bg;
    font-weight: $font-weight-bg;
    @content;
}

@mixin focalh2 {
    font-size: $size-h2;
    line-height: 1.2;
    padding: 2rem 2rem 1rem 2rem;
}

@mixin footer-row {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    @content;
}

//Others//
@mixin width-margin($width1, $margin) {
    width: $width1;
    margin: $margin;
    @content;
}
