// main SASS file
@import "variable";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:after,
*:before {
    @mixins border-box-stuff;
}

html {
    font-size: 16px;
    font-family: $main-font-family;
    line-height: 1.6;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    font-family: $header-font-family;
}

ul {
    list-style: none;
}

//
%bg-header700 {
    background-color: $light-blue;
    color: $dark-grey;
    border-bottom: 1rem solid $med-blue;
    border-top: 1rem solid $dark-blue;
    position: relative;
}

.bg-header {
    @extend %bg-header700;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @extend %bg-header700;
    }
}

.bg-header:before,
.bg-header:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    height: 1rem;
    width: 30%;
    background-color: $dark-blue;
}

.bg-header:before {
    left: 0;
}

.bg-header:after {
    right: 0;
}

header h1 {}

header h1 i.fa-lg {
    @include headerh1ifalg($light-brown, block, left, 8rem, $height);
    vertical-align: -30%;
    width: 25%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        width: 100%;
        color: $dark-brown;
        vertical-align: baseline;
        @include headerh1ifalg($dark-brown, inline, none, 4rem, 6.3968rem)
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include headerh1ifalg($dark-blue, inline, none, 4rem, 6.3968rem);
        vertical-align: baseline;

    }

    ~ span {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            float: none;
            letter-spacing: 0.25rem;
            font-size: 3.998rem;
            text-align: left;
        }
    }
}

header h1 span {
    font-size: $size-header;
    float: right;
    color: $dark-blue;
    width: 100%;
    padding-right: 0.5rem;
    text-align: right;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        float: none;
        text-align: left;
    }


}


header > nav {

    & {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* mobile first */
        justify-content: flex-start;
        align-items: stretch;
        padding: 2rem 0;
    }

}



header > nav a {
    & {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        text-align: center;
    }

    &:hover {
        color: $light-brown;
        font-size: $size-nav;
        font-weight: $weight;
    }

    & {
        @include navi;
        background-color: $white-color;
        text-decoration: none;
        text-align: center;
        color: $dark-grey;
        border: 1px solid $light-grey;
    }

    & {
        @media all and (min-width: 701px) and (max-width: 900px) {
            flex-basis: 20%;
            font-size: 1rem;
            line-height: 2rem;
            min-height: 6rem;
            border: none;
            border-left: 1px solid $light-grey;
            padding: 1.0rem;
            background-color: $white-color;
            flex-direction: row;
        }
    }

    &:first-child {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            border-left: none;
        }
    }
}

header > nav a {

    &:hover {
        font-weight: 700;
        color: $dark-brown;
    }


}

.bg-focal {
    background-color: $light-brown;
    color: $dark-brown;

}



.focal {
    & h2 {
        font-size: 1.999rem;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
    }

    & p {
        padding: 0.2rem 2rem 2rem;
        font-size: $size-default;
    }

}

.content1 {
    padding: 2rem 0;

    &h3 {
        font-size: $size-h2;
        padding: 0.2rem 2rem 2rem;
    }

    .row {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
        }

        .col {
            @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
                flex-basis: 33%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }
}

.bg-content1 {
    background-color: $white-color;
    color: $dark-grey;
    font-weight: 100;

    h3 {
        font-size: $size-h2;
        padding: 0.5rem 2rem 2rem 2rem;
    }

    p {
        font-size: $size;
    }

}

.bg-content2 {
    background-color: $light-blue;
    color: $dark-blue;
    font-weight: 100;


}

.bg-footer {
    background-color: $white-color;
    color: $light-grey;
}

header {
    width: 400px;
    /* default min screen width */
    margin: 0 auto;
    position: relative;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include header700;
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        width: 900px;
        margin: 0 auto;
    }
}

header h1 {
    width: 100%;
    padding: 0 2rem;

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        width: 100%;
        color: $dark-blue;
    }
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* mobile first */
    justify-content: flex-start;
    align-items: stretch;
    padding: 2rem 0;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {

        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

header nav > a {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;


    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        flex-basis: 20%;
        font-size: 1rem;
        line-height: 2rem;
        min-height: 2rem;
        border: none;
        border-left: 1px solid $light-grey;
        padding: 0 1.0rem;
        margin: 1.0rem 0;
        background-color: $white-color;
        padding: 0.5rem 0.5rem;
    }
}

section.focal {
    width: 400px;
    /* default */
    margin: 0 auto;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        width: 700px;
        margin: 0 auto;
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        width: 900px;
        margin: 0 auto;
    }

    & h2 {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            width: 600px;
            margin: 0 auto;
        }
    }

    & p.author {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            width: 600px;
            margin: 0 auto;
        }
    }
}

section.content1 {
    padding: 2rem 0;
    @include paraSection1;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        width: 700px;
        margin: 0 auto;
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        width: 900px;
        margin: 0 auto;
    }

    & h3 {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            flex-basis: 33%;
            flex-grow: 1;
            flex-shrink: 0;
        }

        & .fa-2x {
            @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
                font-size: 1.999rem;
                padding-right: 1rem;
            }

        }
    }

}

section.content2 {
    padding: 2rem 0;
    @include paraSection2;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        width: 700px;
        margin: 0 auto;
    }

    & h4 {
        font-size: $size;

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            font-size: $size;
        }
    }

    & p {
        font-size: $size;
        padding: 0.5rem 2rem 1rem;

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            font-size: $size-default;
            font-weight: 400;
        }
    }

    & li {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            font-size: $size;
        }

    }
}

.content2 span:hover:after {
    @include hover;
}

.content2 span[lang] {
    position: relative;
}

.content2 h4 span {
    &[lang="es"]:after {
        background-image: url(../img/es-icon.png);
    }

    &[lang="hi"]:after {
        background-image: url(../img/hi-icon.png);
    }

    &[lang="fr"]:after {
        background-image: url(../img/fr-icon.png);
    }

    &[lang="sv"]:after {
        background-image: url(../img/sv-icon.png);
    }

    &[lang="no"]:after {
        background-image: url(../img/no-icon.png);
    }

    &[lang="pt"]:after {
        background-image: url(../img/pt-icon.png);
    }
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.content2 .row {
    display: flex;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    & .col {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            flex-basis: 25%;
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}

.row .col {
    flex-basis: 100%;

    /* mobile default */
    &h4 {
        @include li;
    }

    &p {
        @include footer-h4(1rem, $dark-brown);

    }

}



footer .row {
    @include footer-row;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include footer-row;
    }


    & h4 {
        @include footer-h4($size, $dark-brown);
    }

    & p {
        @include footer-h4($size-default, $dark-grey);
    }

    & .fa-circle {
        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            color: $med-blue;
        }
    }

    &:first-child {
        & .col:last-child {
            @media all and (min-width: $break-small701) and (max-width: $break-small900) {
                unicode-bidi: bidi-override;
                direction: rtl;
            }
        }
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .col {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            flex-basis: 50%;
        }
    }

    &.last-row {
        .col {
            @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
                flex-basis: 100%;
            }

        }

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            justify-content: flex-start;
        }
    }

}

footer .row > * {
    flex-basis: 50%;
    padding-bottom: 2rem;
    border-left: 1px solid $dark-blue;
    margin-bottom: 2rem;

}

footer .row.last-row > * {
    flex-basis: 100%;
}

footer .row .col:first-child {
    border-left: 0;
}

footer {
    padding: 2rem 0;

    &p {
        @include footer-h4($size-default, $dark-grey);

    }

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        width: 700px;
        margin: 0 auto;
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        width: 900px;
        margin: 0 auto;
    }

    h4[lang=en] {
        display: none;

        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            display: none;
        }
    }

    h4[lang=de] {
        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            display: none;
        }
    }

    h4[lang=ar] {
        display: none;

        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            display: block;
        }
    }

    h4[lang=ru] {
        display: none;

        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            display: none;
        }
    }
}

//Media queries//
