// main SASS file
@import "variable";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:after,
*:before {
    @include border-box-stuff;
}

html {
    @include html;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    font-family: $header-font-family;
}

ul {
    list-style: none;
}

//
%bg-header700 {
    background-color: $light-blue;
    color: $dark-grey;
    border-bottom: 1rem solid $med-blue;
    border-top: 1rem solid $dark-blue;
    position: relative;
}

.bg-header {
    @extend %bg-header700;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @extend %bg-header700;
    }
}

.bg-header:before,
.bg-header:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    height: 1rem;
    width: 30%;
    background-color: $dark-blue;
}

.bg-header:before {
    left: 0;
}

.bg-header:after {
    right: 0;
}

header h1 {
    color: $dark-brown;
    letter-spacing: 0.1rem;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include header($dark-brown, 100%);
    }

}

header h1 i.fa-lg {
    @include headerh1ifalg($light-brown, block, left, 7rem, $height);
    width: 25%;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include header($dark-brown, 100%);
        @include headerh1ifalg($dark-brown, inline, none, 4rem, 6.3968rem);
        vertical-align: baseline;
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include headerh1ifalg($dark-blue, inline, none, 4rem, 6.3968rem);
        vertical-align: baseline;

    }

    ~ span {
        @include headerspan(none, $font-size-media, right, 75%);
        padding-left: 1rem;

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            letter-spacing: 0.25rem;
            @include header-h1-900(none, $font-size-media, left);
        }
    }
}

header h1 span {
    @include headerspan(right, $size-header, right, 100%);
    color: $dark-brown;
    padding-right: 0.5rem;


    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include header-h1-span;

    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        color: $dark-blue;
    }
}

header > nav {

    & {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* mobile first */
        justify-content: flex-start;
        align-items: stretch;
        padding: 2rem 0;
    }

}

header > nav a {
    & {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        text-align: center;
    }

    &:hover {
        color: $light-brown;
        font-size: $size-nav;
        font-weight: $weight;
    }

    & {
        @include navi;
        background-color: $white-color;
        text-decoration: none;
        text-align: center;
        color: $dark-grey;
        border: 1px solid $light-grey;
    }

    & {
        @media all and (min-width: 701px) and (max-width: 900px) {
            @include header-nav-media($size-default, 1.0rem, 2rem, 6rem);
            flex-basis: 20%;
            border: none;
            border-left: 1px solid $light-grey;
            background-color: $white-color;
            flex-direction: row;
        }
    }

    &:first-child {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            border-left: none;
        }
    }
}

header > nav a {

    &:hover {
        font-weight: 700;
        color: $dark-brown;
    }
}

.bg-focal {
    background-color: $light-brown;
    color: $dark-brown;
}

%padding {
    padding: 0.2rem 2rem 2rem;
}

.focal {
    & h2 {
        font-size: $size-h2;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
    }

    & p {
        @extend %padding;
        font-size: $size-default;
    }

}

.content1 {
    padding: 2rem 0;

    &h3 {
        font-size: $size-h2;
        @extend %padding;
    }

    .row {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            @include content1-row(row, wrap, space-around, flex-start);
        }

        .col {
            @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
                flex-basis: 33%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }
}

.bg-content1 {
    @include bg-content($white-color, $dark-grey, 100);

    h3 {
        font-size: $size-h2;
        padding: 0.5rem 2rem 2rem 2rem;
    }

    p {
        font-size: $size;
    }

}

.bg-content2 {
    @include bg-content($light-blue, $dark-blue, 100)
}

.bg-footer {
    background-color: $white-color;
    color: $light-grey;
}

header {
    @include width-margin(400px, $margin);
    /* default min screen width */
    position: relative;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include header700;
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include header-media-control(900px, $margin);
    }
}

header h1 {
    width: 100%;
    padding: 0 2rem;

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {

        @include header($dark-blue, 100%);
    }
}

header nav {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    @include headernav(column, flex-start, stretch);
    /* mobile first */

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include headernav(row, space-around, center);
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include headernav(row, space-around, center);
        flex-wrap: wrap;

    }
}

header nav > a {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;

    &:last-child {
        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            border-right: 1px solid $light-grey;
        }
    }

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include headernava($size-default, 2rem, none, 1.0rem, $white-color);
        @include header-nav-last-child(20%, 6rem, 1px solid $light-grey);
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include headernava($size-default, 2rem, none, 0 1.0rem, $white-color);
        @include header-nav-last-child(20%, 2rem, 1px solid $light-grey);
        margin: 1.0rem 0;
    }
}

section.focal {
    @include width-margin(400px, $margin);
    /* default */

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include width-margin(700px, $margin);
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include width-margin(900px, $margin);
    }

    & h2 {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            @include width-margin(600px, $margin);
        }
    }

    & p.author {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            @include width-margin(600px, $margin);
        }
    }
}

section.content1 {
    padding: 2rem 0;
    @include paraSection1;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include width-margin(700px, $margin);
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include width-margin(900px, $margin);
    }

    & h3 {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            flex-basis: 33%;
            flex-grow: 1;
            flex-shrink: 0;
        }

        & .fa-2x {
            @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
                font-size: $size-h2;
                padding-right: 1rem;
            }

        }
    }

}

section.content2 {
    padding: 2rem 0;
    @include paraSection2;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include width-margin(700px, $margin);
    }

    & h4 {
        font-size: $size-h2;
        padding: 1rem 2rem 0rem;

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            font-size: $size;
        }
    }

    & p {
        font-size: $size;
        padding: 0.5rem 2rem 1rem;

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            font-size: $size-default;
            font-weight: 400;
        }
    }

    & li {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            font-size: $size;
        }

    }
}

.content2 span:hover:after {
    @include hover;
}

.content2 span[lang] {
    position: relative;
}

.content2 h4 span {
    &[lang="es"]:after {
        background-image: url(../img/es-icon.png);
    }

    &[lang="hi"]:after {
        background-image: url(../img/hi-icon.png);
    }

    &[lang="fr"]:after {
        background-image: url(../img/fr-icon.png);
    }

    &[lang="sv"]:after {
        background-image: url(../img/sv-icon.png);
    }

    &[lang="no"]:after {
        background-image: url(../img/no-icon.png);
    }

    &[lang="pt"]:after {
        background-image: url(../img/pt-icon.png);
    }
}

.row {
    display: flex;
    @include headernav(column, flex-start, stretch);
}

.content2 .row {
    display: flex;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include content1-row(row, wrap, center, flex-start);
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include content1-row(row, wrap, space-around, flex-start);
    }

    & .col {
        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            flex-basis: 50%;
        }

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            flex-basis: 25%;
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}

.row .col {
    flex-basis: 100%;

    /* mobile default */
    &h4 {
        @include li;
    }

    &p {
        @include footer-h4(1rem, $dark-brown);

    }

}



footer .row {
    @include footer-row;

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include footer-row;
    }


    & h4 {
        @include footer-h4($size, $dark-brown);
    }

    & p {
        @include footer-h4($size-default, $dark-grey);
    }

    & .fa-circle {
        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            color: $med-blue;
        }

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            color: $light-brown;
        }
    }

    &:first-child {
        & .col:last-child {
            @media all and (min-width: $break-small701) and (max-width: $break-small900) {
                unicode-bidi: bidi-override;
                direction: rtl;
            }
        }
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include content1-row(row, wrap, space-around, flex-start);
    }

    .col {
        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            flex-basis: 50%;
        }
    }

    &.last-row {
        .col {
            @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
                flex-basis: 100%;
            }

        }

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            justify-content: flex-start;
        }
    }

}

footer .row > * {
    flex-basis: 50%;
    padding-bottom: 2rem;
    border-left: 1px solid $dark-blue;
    margin-bottom: 2rem;

}

footer .row.last-row > * {
    flex-basis: 100%;
}

footer .row .col:first-child {
    border-left: 0;
}

footer {
    padding: 2rem 0;

    &p {
        @include footer-h4($size-default, $dark-grey);

    }

    @media all and (min-width: $break-small701) and (max-width: $break-small900) {
        @include width-margin(700px, $margin);
    }

    @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
        @include width-margin(900px, $margin);
    }

    h4[lang=en] {
        display: none;

        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            display: none;
        }
    }

    h4[lang=de] {
        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            display: none;
        }

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            display: none;
        }
    }

    h4[lang=ar] {
        display: none;

        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            display: block;
        }

    }

    h4[lang=ru] {
        display: none;

        @media all and (min-width: $break-small701) and (max-width: $break-small900) {
            display: none;
        }

        @media all and (min-width: $break-med901) and (max-width: $break-med1400) {
            display: block;
        }
    }
}

//Media queries//
