// main SASS file
@import "variable";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:after,
*:before {
    @mixins border-box-stuff;
}

html {
    font-size: 16px;
    font-family: $main-font-family;
    line-height: 1.6;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    font-family: $header-font-family;
}

ul {
    list-style: none;
}

//
%bg-header700 {
    background-color: $light-blue;
    color: $dark-grey;
    border-bottom: 1rem solid $med-blue;
    border-top: 1rem solid $dark-blue;
    position: relative;
}

.bg-header {
    @extend %bg-header700;

    @media all and (min-width: 701px) and (max-width: 900px) {
        @extend %bg-header700;
    }
}

.bg-header:before,
.bg-header:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    height: 1rem;
    width: 30%;
    background-color: $dark-blue;
}

.bg-header:before {
    left: 0;
}

.bg-header:after {
    right: 0;
}

header h1 i.fa-lg {
    @include headerh1ifalg($light-brown, block, left, 8rem, $height);
    vertical-align: -30%;
    width: 25%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    @media all and (min-width: 701px) and (max-width: 900px) {
        width: 100%;
        color: #7C593C;
        vertical-align: baseline;
        @include headerh1ifalg($dark-brown, inline, none, 4rem, 6.3968rem)
    }
}

header h1 span {
    font-size: $size-header;
    float: right;
    color: $dark-brown;
    width: 80%;
    padding-right: 0.5rem;
    text-align: right;

    @media all and (min-width: 701px) and (max-width: 900px) {
        float: none;
        text-align: left;
    }
}


header > nav {

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    display: flex;
    padding: 2rem 0;

    @media all and (min-width: 701px) and (max-width: 900px) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }


}


header > nav a {
    & {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        text-align: center;
    }

    &:hover {
        color: $light-brown;
        font-size: $size-nav;
        font-weight: $weight;
    }

    & {
        @include navi;
        background-color: $white-color;
        text-decoration: none;
        text-align: center;
        color: $dark-grey;
        border: 1px solid $light-grey;
    }

    & {
        @media all and (min-width: 701px) and (max-width: 900px) {
            flex-basis: 20%;
            font-size: 1rem;
            line-height: 2rem;
            min-height: 6rem;
            border: none;
            border-left: 1px solid #d4d4d4;
            padding: 1.0rem;
            background-color: #fff;

        }
    }

}

header > nav a {
    & {
        text-align: center;
        text-decoration: none;
        color: #222;
        font-size: 1.414rem;
        letter-spacing: 0.25rem;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        padding: 1.0rem 2rem;
        line-height: 1;
        background-color: #fff;
    }

    &:hover {
        font-weight: 700;
        color: #7C593C;
    }
}

.bg-focal {
    background-color: $light-brown;
    color: $dark-brown;

}

%focal {
    padding: 2rem 2rem 1rem 2rem;
    line-height: 1;
}

.focal {
    p {
        @extend %focal;
    }

    h2 {
        @extend %focal;
        font-size: $size-h2;
    }
}

.content1 {
    padding: 2rem 0;
}

.bg-content1 {
    background-color: $white-color;
    color: $dark-grey;
    font-weight: 100;

    h3 {
        font-size: $size-h2;
        padding: 0.5rem 2rem 2rem 2rem;
    }

    p {
        font-size: $size;
    }
}

.bg-content2 {
    background-color: $light-blue;
    color: $dark-blue;
    font-weight: 100;
}

.bg-footer {
    background-color: $white-color;
    color: $light-grey;
}

header {
    width: 400px;
    /* default min screen width */
    margin: 0 auto;
    position: relative;

    @media all and (min-width: 701px) and (max-width: 900px) {
        @include header700;
        ;
    }
}

header h1 {
    width: 100%;
    padding: 0 2rem;

    @media all and (min-width: 701px) and (max-width: 900px) {
        width: 100%;
        color: $dark-brown;
    }
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* mobile first */
    justify-content: flex-start;
    align-items: stretch;
    padding: 2rem 0;
}

header nav > a {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}

section.focal {
    width: 400px;
    /* default */
    margin: 0 auto;
}

section.content1 {
    padding: 2rem 0;
    @include paraSection1;
}

section.content2 {
    padding: 2rem 0;
    @include paraSection2;

}

.content2 span:hover:after {
    @include hover;
}

.content2 span[lang] {
    position: relative;
}

.content2 h4 span {
    &[lang="es"]:after {
        background-image: url(../img/es-icon.png);
    }

    &[lang="hi"]:after {
        background-image: url(../img/hi-icon.png);
    }

    &[lang="fr"]:after {
        background-image: url(../img/fr-icon.png);
    }

    &[lang="sv"]:after {
        background-image: url(../img/sv-icon.png);
    }

    &[lang="no"]:after {
        background-image: url(../img/no-icon.png);
    }

    &[lang="pt"]:after {
        background-image: url(../img/pt-icon.png);
    }
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.row .col {
    flex-basis: 100%;

    /* mobile default */
    &h4 {
        @include li;
    }

    &p {
        @include footer-h4(1rem, $dark-brown);
    }
}

footer .row {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    & h4 {
        @include footer-h4($size, $dark-blue);
    }

    & p {
        @include footer-h4($size-default, $dark-grey);
    }
}

footer .row > * {
    flex-basis: 50%;
    padding-bottom: 2rem;
    border-left: 1px solid $dark-blue;
    margin-bottom: 2rem;

}

footer .row.last-row > * {
    flex-basis: 100%;
}

footer .row .col:first-child {
    border-left: 0;
}

footer {
    padding: 2rem 0;

    &p {
        @include footer-h4($size-default, $dark-grey);

    }

    @media all and (min-width: $break-small701) and (max-width:$break-small900) {
        background-color: $med-blue;

    }
}

//Media queries//
